.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, #112441a8 2%, rgba(6, 33, 51, 0.12) 100%), url(../img/bg-masthead.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 4rem;
    font-weight: 200;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  em {
    font-size: 2rem;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 7rem;
    }
  }
}
